								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">{{site_name}}</h5>
									</div>
									<div class="card-body">
										<p class="card-text">Company owner: {{company_name}}</p>
										<a href="/sites/{{_id}}/manage" class="btn btn-primary">View analytics</a>

									</div>
								</div>