								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">{{site.name}}</h5>
									</div>
									<div class="card-body">
										<p class="card-text">{{site.description}}</p>
										<a href="/sites/{{_id}}" class="btn btn-primary">View analytics</a>
									</div>
								</div>