<div class="wrapper">
	{{>sidebar}}

	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle js-sidebar-toggle">
				<i class="hamburger align-self-center"></i>
			</a>

			{{>topbar}}
		</nav>

		<main class="content">
			{{#if (eq siteData.visitors 1)}}
  <!-- Content to render when the user is the owner of the account -->
  <div class="alert alert-warning" role="alert">
    Please add the following script in all your pages in order to start receiving analytics!

    <pre>
document.addEventListener('DOMContentLoaded',(event) => {
    // API endpoint URL
	const siteKey = '{{siteData._id}}'

    
    const apiUrl = `http://localhost:3000/analytics/sites/${siteKey}`;

    // Data to send to the API
    const data = {
        visitorData: event,
        siteData: window.location
    };

    // Options for the fetch request
    const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    };

    // Make the API request
    fetch(apiUrl, options)
        .then(response => {
            if (response.ok) {
                console.log('API request succeeded');
            } else {
                console.error('API request failed');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
});
    </pre>
  </div>
{{/if}}

			<div class="container-fluid p-0">

				<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

				<div class="row">
					<div class="col-xl-6 col-xxl-5 d-flex">
						<div class="w-100">
							<div class="row">
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col mt-0">
													<h5 class="card-title">Visitors</h5>
												</div>

												<div class="col-auto">
													<div class="stat text-primary">
														<i class="align-middle" data-feather="users"></i>
													</div>
												</div>
											</div>
											<h1 class="mt-1 mb-3">{{siteData.visitors}}</h1>
											<div class="mb-0">
												<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i>
													0.00% </span>
												<span class="text-muted">Since last week</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col mt-0">
													<h5 class="card-title">Site Visits</h5>
												</div>

												<div class="col-auto">
													<div class="stat text-primary">
														<i class="align-middle" data-feather="users"></i>
													</div>
												</div>
											</div>
											<h1 class="mt-1 mb-3">{{siteData.visits}}</h1>
											<div class="mb-0">
												<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i>
													0.00% </span>
												<span class="text-muted">Since last week</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-6 col-xxl-7">
						<div class="card flex-fill w-100">
							<div class="card-header">

								<h5 class="card-title mb-0">Recent Movement ( EXAMPLE )</h5>
							</div>
							<div class="card-body py-3">
								<div class="chart chart-sm">
									<canvas id="chartjs-dashboard-line"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
						<div class="card flex-fill w-100">
							<div class="card-header">

								<h5 class="card-title mb-0">Browser Usage</h5>
							</div>
							<div class="card-body d-flex">
								<div class="align-self-center w-100">
									<div class="py-3">
										<div class="chart chart-xs">
											<canvas id="chartjs-dashboard-pie"></canvas>
										</div>
									</div>

									<table class="table mb-0">
										<tbody>
											<tr>
												<td>Chrome</td>
												<td class="text-end">4306</td>
											</tr>
											<tr>
												<td>Firefox</td>
												<td class="text-end">3801</td>
											</tr>
											<tr>
												<td>IE</td>
												<td class="text-end">1689</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
						<div class="card flex-fill w-100">
							<div class="card-header">

								<h5 class="card-title mb-0">Real-Time ( EXAMPLE )</h5>
							</div>
							<div class="card-body px-4">
								<div id="world_map" style="height:350px;"></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
						<div class="card flex-fill">
							<div class="card-header">

								<h5 class="card-title mb-0">Calendar</h5>
							</div>
							<div class="card-body d-flex">
								<div class="align-self-center w-100">
									<div class="chart">
										<div id="datetimepicker-dashboard"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-8 col-xxl-9 d-flex">
						<div class="card flex-fill">
							<div class="card-header">

								<h5 class="card-title mb-0">Latest Visitors ( Geo Location )</h5>
							</div>
							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Country</th>
										<th class="d-none d-xl-table-cell">Country Code</th>
										<th class="d-none d-xl-table-cell">Region</th>
										<th>Region Name</th>
										<th class="d-none d-md-table-cell">City</th>
										<th class="d-none d-md-table-cell">ZIP</th>
										<th class="d-none d-md-table-cell">LAT</th>
										<th class="d-none d-md-table-cell">LON</th>
										<th class="d-none d-md-table-cell">Timezone</th>
										<th class="d-none d-md-table-cell">ISP</th>
										<th class="d-none d-md-table-cell">Organization</th>
										<th class="d-none d-md-table-cell">AS</th>
										<th class="d-none d-md-table-cell">IP ADDRESS</th>

									</tr>
								</thead>
								<tbody>

									{{#each geoLocationData}}
										{{>geolocation}}
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-12 col-lg-8 col-xxl-9 d-flex">
						<div class="card flex-fill">
							<div class="card-header">

								<h5 class="card-title mb-0">Latest Visitors ( Browser List )</h5>
							</div>
							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>BROWSER Data</th>

									</tr>
								</thead>
								<tbody>

									{{#each browserList}}
									{{>browsers}}
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-12 col-lg-4 col-xxl-3 d-flex">
						<div class="card flex-fill w-100">
							<div class="card-header">

								<h5 class="card-title mb-0">Monthly Visitors ( Demo )</h5>
							</div>
							<div class="card-body d-flex w-100">
								<div class="align-self-center chart chart-lg">
									<canvas id="chartjs-dashboard-bar"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>

		{{>footer}}
	</div>
</div>